<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqewP5Kh3KqR3LWmlShoETHRYsLzMx9nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>269265316533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-task-ce97d</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-task-ce97d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269265316533:ios:7ef45b27dd032c9e8f6cfc</string>
</dict>
</plist>